/* BASE STYLESHEET DetectInTraffic
Delta 09.Aug.02018: Init of .css
*/


body { 
	margin-left: 0px;
	padding-left: 0px;
}

.mastheader-dit {
	/*border: solid 1px blue;*/
    text-align: left;
	margin: 0;
	padding: 0;
}

img.mast-pix {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	max-width:100%
}

img.custom-logo {
	/*border: solid 1px red;*/
	position: absolute;
	top: 50px;
	left: 110px;
}

.site-header {
	padding-top: 0px;
}

ul.nav-menu {
	border: 2px solid;
	border-top-color: white;
	border-left-color: white;
	border-right-color: white;
	border-bottom-color: #d2d2d2;
	font-size: 22px;
}

h1.site-title {
	/*border: solid 1px red;*/
	margin-top: 250px;	
}

.site-description {
	margin-top: 350px;
}